<!DOCTYPE html>
<html>
  <head>
    <title>Mystore</title>
    <%= csrf_meta_tags %>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,600,500,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--[Jerry] add from template ++++++ -->
      <%= render 'shared/header'%>

    	<div class="main-container">
        <%= yield %>
        <%= render 'shared/footer'%>

    	</div><!-- /.main-container -->


  <!--[Jerry] add from template END -->


</body>
</html>
